<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- This nlog is from https://brutaldev.com/post/logging-setup-in-5-minutes-with-nlog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        throwExceptions="false">

    <variable name="appName" value="TBDSomehowFromProject" />

    <!-- per https://github.com/NLog/NLog/issues/2036, NLog can have two targets-group. Console will be sync, file and eventlog will be async-->
    <targets>
      <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0" />
      <target xsi:type="File"
              name="default"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
              keepFileOpen="false"
              archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="30"
            />

      <target xsi:type="EventLog"
              name="eventlog"
              source="${appName}"
              layout="${message}${newline}${exception:format=ToString}"/>
    </targets>
    <targets>
      <target name="console" xsi:type="Console"/>
    </targets>
    <rules>
      <logger name="ATAP.*" writeTo="console" minlevel="Trace" />
      <logger name="ATAP.*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>
</configuration>