<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WatchFolder:Process1" value="D:\temp\process1\"/>
    <add key="WatchFolder:Process2" value="D:\temp\process2\"/>
    <add key="WatchFolder:Process3" value="D:\temp\process3\"/>
    <add key="WatchFolder:Process4" value="D:\temp\process4\"/>
    <add key="WatchFolder:Process5" value="D:\temp\process5\"/>
    <add key="WatchFolder:Process6" value="D:\temp\process6\"/>
  </appSettings>
</configuration>
