<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet ATAP Utilities Feed" value="https://www.myget.org/F/atap-utilities/api/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />

    <add key="ServiceStack MyGet feed" value="https://www.myget.org/F/servicestack" />
    <add key="Telerik Packages" value="https://nuget.telerik.com/nuget" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="NuGetFilesystemDevelopmentPackage" value="file://utat022/fs/NuGet/Development" />
    <add key="NuGetFilesystemDevelopmentPackage2" value="\\utat022\fs\NuGet\Development" />
    <add key="NuGetFilesystemQualityAssurancePackage" value="\\utat022\fs\NuGet\QualityAssurance" />
    <add key="NuGetFilesystemProductionPackage" value="\\utat022\fs\NuGet\Production" />
    <add key="PowershellGetFilesystemDevelopmentPackage" value="\\utat022\fs\PowershellGet\Development" />
    <add key="PowershellGetFilesystemQualityAssurancePackage" value="\\utat022\fs\PowershellGet\QualityAssurance" />
    <add key="PowershellGetFilesystemProductionPackage" value="\\utat022\fs\PowershellGet\Production" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="True" />
  </packageManagement>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="MyGet ATAP Utilities Feed" value="true" />
    <add key="dotnet-public" value="true" />
    <add key="dotnet-tools" value="true" />
    <add key="ServiceStack MyGet feed" value="true" />
    <add key="Telerik Packages" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
</configuration>