<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet ATAP Utilities Feed" value="https://www.myget.org/F/atap-utilities/api/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />

    <add key="ServiceStack MyGet feed" value="https://www.myget.org/F/servicestack" />
    <add key="Telerik Packages" value="https://nuget.telerik.com/nuget" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />

    <add key="NuGetFilesystemQualityAssurancePackage" value="file://C:/Dropbox/Repositories/NuGet/QualityAssurance" />
    <add key="NuGetFilesystemProductionPackage" value="file://C:/Dropbox/Repositories/NuGet/Production" />


    <add key="PowershellGetFilesystemQualityAssurancePackage" value="file://C:/Dropbox/NuGetLocalFeed/PowershellGetFilesystemLocalFeedQualityAssurance" />
    <add key="PowershellGetFilesystemProductionPackage" value="file://C:/Dropbox/NuGetLocalFeed/PowershellGetFilesystemLocalFeedProduction" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="false" />
  </packageManagement>
  <disabledPackageSources>
    <add key="MyGet ATAP Utilities Feed" value="true" />
    <add key="ServiceStack MyGet feed" value="true" />
    <add key="Telerik Packages" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="false" />
  </disabledPackageSources>
  <config>
    <add key="NoWarn" value="NU1701:MethodBoundaryAspect.Fody" />
    <add key="NoWarn" value="NU1701:FodyCecil" />
    <add key="NoWarn" value="NU1701:UnitsNet" />
  </config>
</configuration>
